/Assets/HybridCLRGenerate/
/Assets/HybridCLRHotUpdateDll/
/Assets/Prefab/
/Assets/Scenes/
/Assets/Settings/
/Assets/StreamingAssets/
/Assets/Textures/
/Assets/AssetBundleCollectorSetting.asset
/Assets/AssetBundleCollectorSetting.asset.meta
/Assets/HybridCLRGenerate.meta
/Assets/HybridCLRHotUpdateDll.meta
/Assets/Prefab.meta
/Assets/Readme.asset
/Assets/Readme.asset.meta
/Assets/Scenes.meta
/Assets/Settings.meta
/Assets/StreamingAssets.meta
/Assets/Textures.meta
/Assets/UniversalRenderPipelineGlobalSettings.asset
/Assets/UniversalRenderPipelineGlobalSettings.asset.meta
/Bundles
/HybridCLRData
/Library
/Logs
/obj
/Packages
/ProjectSettings
/UserSettings
/yoo
/.vs
*.csproj
*.vsconfig
*.sln